.intro {
    background-image: url(../assets/img/background4.jpg);
    background-size: cover;        ;
    background-repeat: no-repeat;
    background-position-y: center;
    color: white;
    min-height: 400px;
    align-self: center;
}