.intro {
    background-image: url(../assets/img/sinago2.jpg);
    background-size: cover;        ;
    background-repeat: no-repeat;
    background-position-y: 62%;
    background-position-x: center;
    color: white;
    min-height: 400px;
    align-self: center;
}